@import 'normalize.css';
@import 'nprogress/nprogress.css';

html,
body,
#app {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: SanFrancisco, Roboto, PingFang SC, SourceHanSansCN;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}

div {
  box-sizing: border-box;
}
